/* Fonts */
@font-face{
    font-family: "Bellota";
    src: url("../../assets/css/fonts/bellota/Bellota-Regular.otf");
}
@font-face{
    font-family: "Bellota";
    src: url("../../assets/css/fonts/bellota/Bellota-Bold.otf");
    font-weight: bold;
}

/* Main colors  */
:root {
    --green-color: rgb(21, 197, 189);  /*#15C5BD;*/
    --white-color: rgb(255, 255, 255); /*#FFF;*/
    --black-color: rgb(48, 48, 48);    /*#303030;*/
}

/* Box-sizing and css */
html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: Bellota, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, 
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body, h1, h2, h3, 
header, main, article, aside, section, footer, 
p, div, button, input {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: none;
}

/* Rules for main design */
body {
    background-color: #f8f9fa;
    min-height: 100vh;
    display: grid;
    grid-template-columns: minimax(380px, 1fr);
    grid-template-rows: auto 1fr auto;
}
#header, #footer {
    background-color: var(--black-color);
    color: var(--green-color);
    text-align: center;
}
#header, #main, #footer {
    box-shadow: 0 0.5rem 1rem rgba(30, 30, 30, 0.05), 
    inset 0 -1px 0 rgba(30, 30, 30, 0.1);
}
#main {
    display: grid;
    justify-content: center;
    align-items: center;
}


/* Rules form section */
/* ====== */
.section {
    background-color: var(--white-color);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.section > * {
    padding-left: 1rem;
    padding-right: 1rem;
}
.section > *:not(:last-child) {text-align: center;}
.section #logo img {width: 200px;}

.section__body {
    display: flex;
    flex-direction: column;
    background-color: var(--green-color);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.form__group {
    display: flex;
    flex-direction: column;
}

.form__group:not(:last-child) {margin-bottom: 1rem;}
.form__group:nth-child(4) {
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}
.form__group:nth-child(7) {flex: 1;}

.form__input, .form__area, .form__select {
    background-color: rbga(255, 255, 255, 0.5);
    background-clip: padding-box;
    font-weight: 400;
    line-height: 1.5;
    height: calc(1.5em + .75rem + 2px);
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    display: block;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


/* ==== */

/* Rules for form fields */

.honeypot {display: none;}
option[default] {display: none;}


.form__label {
    font-family: serif;
	margin-top: 0.5rem;
	display: block;
	transition: all .3s
}
.form__input:placeholder-shown + .form__label, 
.form__area:placeholder-shown + .form__label,
.form__group--radio + .form__label,
.form__select + .form__label {display: none;}

/* Rules for form validation */
p.error, .form__label {
    font-weight: bold;
    font-size: 0.8rem;
}
.error {color: brown;}
.correct {color: navy;}


/* ======= */

/* RULES FOR MEDIA QUERIES */


.btn--dark {
    background-color: var(--black-color);
    color: var(--white-color);
}
.btn {
    align-self: center;
    text-transform: uppercase;
    padding: 0.50rem 0.75rem;
    border-radius: 0.25rem;
    line-height: 1.5;
    box-shadow: 
        0 0 0.25rem currentColor, 
        inset 0px 0px 1px currentColor;
    transition: 
        color 0.15s ease-in-out,
        background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
}

@media screen and (min-width: 576px) {
    .section {
        max-width: 540px;
    }
}

@media screen and (min-width: 768px) {
    .section {
        max-width: 720px;
    }
}

@media screen and (min-width: 992px) {
    .section {
        max-width: 960px;
    }
}
